/* Write your CSS here */

.match-card-con {
  background-color: #1e293b;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  border-radius: 5px;
  margin: 5px;
  list-style-type: none;
}

.match-card-logo {
  width: 100px;
  height: 100px;
}

.red {
  color: #e31a1a;
}

.green {
  color: #18ed66;
}
